.card-header {
    background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(250,48,48,1) 0%, rgba(61,54,66,1) 0%, rgba(52,52,83,1) 0%, rgba(248,48,48,1) 87%);

}

.card-header p{
    color: white;
}

.btn .btn-outline-danger{ background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(250,48,48,1) 0%, rgba(61,54,66,1) 0%, rgba(52,52,83,1) 0%, rgba(248,48,48,1) 87%);
  }