.linkText{ color: #d43333 ; }

.navbar{ position: relative !important;
    background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(250,48,48,1) 0%, rgba(61,54,66,1) 0%, rgba(22,6,8,1) 24%, rgba(248,48,48,1) 87%);
}


.navbar-brand{
color:white;
}
.navbar-brand:hover{
  color:#d43333;
  }
  

i{
    color: white;
}
a:link {
    color: white;
  }

a:hover {
  color: rgb(236, 99, 99);
}

.mb-1 .fas{
  color: azure;
}
.fas:hover{
  color: #d43333 ;
}


.lblCartCount {
  font-size: 12px;
  background: rgba(250,48,48,1);
  color: rgb(255, 255, 255);
  padding: 0 5px;
  vertical-align: top;
}